<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
  <div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Abhijay's Minilab Page</title>
  </div>
</head>
<body><div layout:fragment="content" th:remove="tag">
  <a href="/abhijay/minilab1">Minilab 1</a><br>
  <a href="/abhijay/minilab2">Minilab 2</a><br>
  <a href="/geometric">Algorithm Minilab</a>
  <a href="https://github.com/Dubshott/spring_portfolio/commits?author=Dubshott">
    <img src="images/github_logo-removebg-preview.png" alt="HTML Link to Github Commits" style="width:42px;height:42px;">
  </a>
  <a href="https://docs.google.com/document/d/1vsSzYPnZdX7sAixp6_dkTB1ZAC8CbFlOqa7EL29p_Kk/edit">
    <img src="images/google_docs_logo-removebg-preview.png" alt="HTML Link to Github Commits" style="width:42px;height:42px;">
  </a>
</div></body>
</html>