<div class="container-fluid bg-3 text-center">
    <h3 class="margin">The SuperTeam</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p>Hey I'm Big Daddy Billy and I'm really cool!</p>
            <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>I am Raq Shaq and I am a Baller</p>
            <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Abihjay Kun</p>
            <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Kian Kun</p>
            <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
    </div>
</div>