<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <meta charset="UTF-8">
        <title>Billy's Minilab Page</title>
    </div>
</head>
<body><div layout:fragment="content" th:remove="tag">
    <a href="/billy/minilab1">Minilab 1!!!</a><br>
    <a href="/billy/minilab2">Anime Character Minilab 2!!!</a><br>
    <a href="/division">Algorithm Minilab</a>
</div></body>
</html>