<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Billy's Minilab 2</title>
</head>
<body>
<form action="#" th:action="@{/billy/minilab2}" method="post" th:object="${stats}">
    <label>power level</label>
    <input type="text" th:field="*{powerlvl}" /><br/>
    <label>amount of health</label>
    <input type="text" th:field="*{health}" /><br/>
    <label>weakness</label>
    <input type="text" th:field="*{weakness}" /><br/>
    <button type="submit">goog presprpespresp pres butotno</button>

</body>
</html>