<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minilab Success!</title>
</head>
<body id="anime">
<form action="#" th:action="@{/billy/minilab2}" method="post" th:object="${stats}">
    <label>number of ties</label>
    <input type="text" th:field="*{powerlvl}" /><br/>
    <label>number of wins</label>
    <input type="text" th:field="*{health}" /><br/>
    <label>number of losses</label>
    <input type="text" th:field="*{weakness}" /><br/>
    <button type="submit">Press for results!</button><br>
    <span th:text="'Your team has ' + ${stats.powerlvl} + ' powerlvl, ' + ${stats.health} + ' health, and ' + ${stats.weakness} + ' weakness.'"></span>
    <span id="result"></span>



    <script th:inline="javascript">
        var weakness = parseInt([[${stats.weakness}]]);
        var health = parseInt([[${stats.health}]]);
        function placeImage(number) {
            var img = new Image(200, 200);
            img.src = "/images/anime"+number+".png";
            document.getElementById("anime").appendChild(img);
        }

        if (weakness == 0) {
            document.getElementById("result").innerHTML = "Your anime characte is destroying the competition!";
            placeImage(8);
        }
        else if ((health/3) > weakness) {
            document.getElementById("result").innerHTML = "Your anime characte is doing spectacular!";
            placeImage(8);
        }
        else if ((health/2) > weakness) {
            document.getElementById("result").innerHTML = "Your anime characte is doing solid!";
            placeImage(8);
        }
        else if (health > weakness) {
            document.getElementById("result").innerHTML = "Your anime characte is doing alright!";
            placeImage(8);
        }
        else if (health == weakness) {
            document.getElementById("result").innerHTML = "Your anime characte is doing ok. Here have sakura she is trash.";
            placeImage(9);
        }
        else if (health > (weakness/2)) {
            document.getElementById("result").innerHTML = "Your anime characte isn't doing very good...";
            placeImage(8);
        }
        else if (health > (weakness/3)) {
            document.getElementById("result").innerHTML = "Your anime character is doing terrible.";
            placeImage(8);
        }
        else {
            document.getElementById("result").innerHTML = "Your anime characte sucks. Wow.";
            placeImage(8);
        }
    </script>


</body>
</html>