<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Title</title>
</div>
</head>
<body><div layout:fragment="content" th:remove="tag">

    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">English Classess</h3>
        <p>Expository English 1-2<br>World Literature 1-2<br>Ethnic Literature 1-2<br>AP English Language<br>AP English Literature<br>English 7-8</p>
    </div>

    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Math Classes</h3>
        <p>Accelerated Math<br>Integrated Math 1A-1B/2A<br>Integrated Math 2A-2B/Trig<br>
            Integrated Math 2B/3A-3B<br>Integrated 3A-3B/Pre-Calculus<br>AP Calculus AB<br>AP Calculus BC<br>AP Statistics</p>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">Science Classes</h3>
        <p>AP Biology<br>AP Chemistry<br>Human Body Systems<br>Physics 1-2<br>AP Environmental Science<br>AP Physics C:Mechanics<br>AP Physics C: E&M</p>
    </div>

    <div class="container-fluid bg-4     text-center">
        <h3 class="margin">History</h3>
        <p>Civics - Economics<br>AP US Government & Politics</p>
    </div>

</div>
</body>
</html>