<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Title</title>
</div>
</head>
<body><div layout:fragment="content" th:remove="tag">

    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">English Classess</h3>
        <a href="/9classes/hsenglish">HS English</a><br>
        <a href="/9classes/honorsenglish">Honors English</a>
    </div>

    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Math Classes</h3>
        <a href="/9classes/acceleratedmath">Accelerated Math</a><br>
        <a href="/9classes/int1a1b2a">Integrated Math 1A-1B/2A</a><br>
        <a href="/9classes/int2a2btrig">Integrated Math 2A-2B/Trig</a><br>
        <a href="/9classes/int2b3a3b">Integrated Math 2B/3A-3B</a>
    </div>

    <div class="container-fluid bg-4 text-center">
        <h3 class="margin">Science Classes</h3>
        <a href="/9classes/bio12">Biology of Living Earth 1-2</a><br>
        <a href="/9classes/principlesofbiomed">Principles of Biomedical Science 1-2</a><br>
        <a href="/9classes/bio1chem12">Bio 1/Chem 1-2</a>
    </div>

</div>
</body>
</html>