<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Title</title>
</div>
</head>
<body><div layout:fragment="content" th:remove="tag">

    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">English Classess</h3>
        <p>American Literature 1-2<br>Ethnic Literature<br>AP English Language</p>
    </div>

    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Math Classes</h3>
        <p>Accelerated Math<br>Integrated Math 1A-1B/2A<br>Integrated Math 2A-2B/Trig<br>
            Integrated Math 2B/3A-3B<br>Integrated 3A-3B/Pre-Calculus<br>AP Calculus AB<br>AP Calculus BC<br>AP Statistics</p>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">Science Classes</h3>
        <p>AP Biology<br>AP Chemistry<br>Human Body Systems<br>Physics 1-2<br>AP Environmental Science<br>AP Physics C:Mechanics</p>
    </div>

    <div class="container-fluid bg-4     text-center">
        <h3 class="margin">History</h3>
        <p>US History 1-2<br>AP US History</p>
    </div>

</div>
</body>
</html>