<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <Title>Classify by Slackbots</Title>
</div>
</head>
<body><div layout:fragment="content" th:remove="tag">

<!-- Navbar -->

<!-- First Container -->
<div>
    <img src="/static/images/banner.jpg" th:src="@{/images/banner.jpg}" style="display:block;margin:0 auto;max-height:100%;max-width:100%;padding:0;" alt="Image">
</div>

<!-- Second Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Who Are We?</h3>
    <img src="src/main/resources/static/Classify Banner Art (5).jpg" class="img-responsive img-circle margin" style="display:inline" alt="Classify" width="350" height="350">
    <h3>___________</h3>
</div>

<!-- Third Container -->
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">Our Purpose</h3>
    <p>Our Slack bot Mission is to save this world from bad teachers and bad classes. We will keep every class and teacher in check and will send the principle our data after every school year.   </p>
</div>

<!-- Fourth Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">The SuperTeam</h3><br>

    <div class="row">
        <img src="/static/images/pro group.png" th:src="@{/images/pro group.png}" style="width:50%;padding-bottom:100px;" alt="Image">
    </div>

    <!--
    <div class="row">
        <div class="col-sm-4">
            <p>Hey I'm Big Daddy Billy and I'm really cool!</p>
            <img src="static/images/billy.jpg" class="img-responsive margin" style="width:50%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>I am Raq Shaq and I am a Baller</p>
            <img src="/static/images/raquib.png" class="img-responsive margin" style="width:50%" alt="Image">
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Abhijay Kun</p>
            <img src="/static/images/abhijay.jpg" class="img-responsive margin" style="width:50%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Kian Kun</p>
            <img src="/static/images/shell.png" class="img-responsive margin" style="width:50%" alt="Image">
        </div>
    </div>
    </div>
    -->
<!--

<footer class="container-fluid bg-4 text-center">
    <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">TheRaq.com</a></p>
</footer>
-->
</div>
</body>
</html>


