<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Review Input</title>

</div>
</head>
<body class="Submission"><div layout:fragment="content" th:remove="tag">
    <style>
        body {background-color: cornflowerblue;
        color: darkslategrey;}
2
    </style>
    <b>Fill in the boxes and press the button to submit a review!</b>
    <form id="review">
        <label for="classes">Choose a class:</label>
        <select name="classes" id="classes">
        <option value="csa">AP Computer Science A</option>
        <option value="biology">Biology</option>
        <option value="biomed">Biomed</option>
        <option value="honorsenglish">Honors English</option></select><br/>
        <!--<input type="text" name="classes" id="classes"><br/>-->
        <label>Difficulty Rating (Out of 10)</label>
        <input type="number" min="0" max="10" step="1" name="difficulty" id="difficulty"><br/>
        <label>Class Rating (Out of 10)</label>
        <input type="number" min="0" max="10" step="1" name="rating" id="rating"><br/>
        <label>Teacher</label>
        <input type="text" name="teacher" id="teacher"><br/>
        <label>Written Review</label>
        <input type="text" name="written" id="written"><br/>
        <button type="submit" id="submit">Submit</button><br>
        <span th:text="'Thanks for submitting a review!'"></span>

    </form>
    <table id="datatable">
        <tr>
            <th>Class&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Difficulty Rating (Out of 10)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Class Rating (Out of 10)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Teacher&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Written Review&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
        <tr>

        </tr>
    </table>

    <script type="module" src="/static/js/classify.js" th:src="@{/js/classify.js}" th:inline="javascript"></script>
</div>

</body>

</html>