<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Minilab Success!</title>
</div>
</head>
<body id="reaction"><div layout:fragment="content" th:remove="tag">
    <style>
        body {background-color: black;}
    </style>
<form action="#" th:action="@{/klab2}" method="post" th:object="${stats}">
    <label>number of ties</label>
    <input type="text" th:field="*{ties}" /><br/>
    <label>number of wins</label>
    <input type="text" th:field="*{dubs}" /><br/>
    <label>number of losses</label>
    <input type="text" th:field="*{losses}" /><br/>
    <button type="submit">Press for results!</button><br>
<span th:text="'Your team has ' + ${stats.ties} + ' ties, ' + ${stats.dubs} + ' wins, and ' + ${stats.losses} + ' losses.'"></span>
    <span id="result"></span>



    <script th:inline="javascript">
    var losses = parseInt([[${stats.losses}]]);
    var dubs = parseInt([[${stats.dubs}]]);
    function placeImage(number) {
    var img = new Image(200, 200);
    img.src = "/images/reaction"+number+".png";
    document.getElementById("reaction").appendChild(img);
    }

    if (losses == 0) {
            document.getElementById("result").innerHTML = "Your team is destroying the competition!";
            placeImage(1);
        }
        else if ((dubs/3) > losses) {
            document.getElementById("result").innerHTML = "Your team is doing spectacular!";
            placeImage(2);
        }
        else if ((dubs/2) > losses) {
            document.getElementById("result").innerHTML = "Your team is doing solid!";
            placeImage(3);
        }
        else if (dubs > losses) {
            document.getElementById("result").innerHTML = "Your team is doing alright!";
            placeImage(4);
        }
        else if (dubs == losses) {
            document.getElementById("result").innerHTML = "Your team is doing ok.";
            placeImage(5);
        }
        else if (dubs > (losses/2)) {
            document.getElementById("result").innerHTML = "Your team isn't doing very good...";
            placeImage(6);
        }
        else if (dubs > (losses/3)) {
            document.getElementById("result").innerHTML = "Your team is doing terrible.";
            placeImage(7);
        }
        else {
            document.getElementById("result").innerHTML = "Your team sucks. Wow.";
            placeImage(8);
        }
    </script>

</div>
</body>
</html>