<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minilab Success!</title>
</head>
<body>
<form action="#" th:action="@{/kian/minilab2}" method="post" th:object="${stats}">
    <label>number of ties</label>
    <input type="text" th:field="*{ties}" /><br/>
    <label>number of wins</label>
    <input type="text" th:field="*{dubs}" /><br/>
    <label>number of losses</label>
    <input type="text" th:field="*{losses}" /><br/>
    <button type="submit">goog presprpespresp pres butotno</button><br>
<span th:text="'Your team has ' + ${stats.ties} + ' ties, ' + ${stats.dubs} + ' wins, and ' + ${stats.losses} + ' losses.'"></span>
    <span id="result"></span>

    <script th:inline="javascript">
    var losses = parseInt([[${stats.losses}]]);
    var dubs = parseInt([[${stats.dubs}]]);
    if (losses == 0) {
            document.getElementById("result").innerHTML = "Your team is destroying the competition!";
        }
        else if ((dubs/3) > losses) {
            document.getElementById("result").innerHTML = "Your team is doing great!";
        }
        else if ((dubs/2) > losses) {
            document.getElementById("result").innerHTML = "Your team is doing solid!";
        }
        else if (dubs > losses) {
            document.getElementById("result").innerHTML = "Your team is doing alright!";
        }
        else if (dubs == losses) {
            document.getElementById("result").innerHTML = "Your team is doing ok.";
        }
        else if (dubs > (losses/2)) {
            document.getElementById("result").innerHTML = "Your team isn't doing very good...";
        }
        else if (dubs > (losses/3)) {
            document.getElementById("result").innerHTML = "Your team is doing terrible.";
        }
        else {
            document.getElementById("result").innerHTML = "Your team sucks. Wow.";
        }
    </script>


</body>
</html>