<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Multiplication Algo</title>
    </div>
</head>

<body style="background-color:#7fdbff;">
<div layout:fragment="content" th:remove="tag">
    `<div class="container">

    <div class="center-block" style="margin: 2% 3% 3%; font-family: gilroy,serif; background-color:#7fdbff">
        <!-- Title -->
        <div class="col-12" style="text-align: center; background-color:#7fdbff">
            <h1><strong>RaqShaq: 4 ways to build an Multiplication series in Java (Derived from Mr. M's Code)</strong></h1>
        </div>

        <!-- Form and Action -->
        <div class="jumbotron text-center row" style="background-color:#7fdbff">
            <!-- Input -->
            <div class="col-md-6">
                <h3>How many terms will be in the arithmetic sequence (it will be multiplying by 3)?</h3>
                <form id="multForm" action="/mult" method="GET" >
                    <input name="multseq" id="multiset" type="number" min="2" max="100" style="background-color:darkslateblue">
                    <button style="background-color:#dddddd">>> PRESS <<</button>
                </form>
            </div>
            <!-- Output/Result -->
            <div class="col-md-6">
                <h3>Algorithm comparison</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Method</th>
                        <!--- <th scope="col">Time</th> --->
                        <th scope="col"><nth></nth> Term</th>
                        <th scope="col">List</th>
                    </tr>
                    <tr th:each="mult : ${multList}">
                        <td th:text="${mult.getName()}"></td>
                        <!--- <td th:text="${arith.getTimeElapsed()}"></td> --->
                        <td th:text="${mult.getNth()}"></td>
                        <td th:text="${mult.getList()}"></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

</div>`
</body>

</html>