<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <meta charset="UTF-8">
        <title>Raq Shaq's Minilab Page</title>
    </div>
</head>
<body><div layout:fragment="content" th:remove="tag">
    <a href="/raquib/minilab1">Minilab 1</a><br>
    <a href="/blab2">Minilab 2 (you know the Vibes)</a><br>
    <a href="/subtraction">Algorithm Minilab (subtraction Edition)</a>
</div></body>
</html>