<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Title</title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
<a>HEY, HEY, HEY, this is my minilabs that I have completed so far in trimester one. Best coding group in Diego BABY!</a><br>
<a href="/raquib/minilab1">Minilab 1! YESSIR BABY!</a>
<a href="/raquib/minilab2">RAQ SAHQ'S 2nd minilab</a>
<a href="/subtraction">Algorithm Minilab</a>
</div>
</body>
</html>