<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Reviews!</title>

</div>
</head>
<body><div layout:fragment="content" th:remove="tag">
    <style>
        body {background-color: cornflowerblue;
            color: darkslategrey;}

    </style>
    <div id="review">Data Displayed Here</div>
    <script type="module" src="/static/js/display.js" th:src="@{/js/display.js}" th:inline="javascript"></script>
</div>
</body>
</html>